  .overlay {
      max-width: 480px;
      height: 400px;
      margin-right: auto;
      margin-left: auto;
      background-image: linear-gradient(to right,
              var(--bg-gradient),
              var(--bg-gradient)),
          url(../images/images/mobile/hero-mobile.jpg);
      background-size: cover;
      background-position: center;

      @media (min-resolution: 2dppx) {
        .overlay {
          background-image: url(../images/images/mobile/hero-mobile@2x.jpg);
        }
      }
  }

  @media screen and (min-width: 768px) {
    .overlay {
      max-width: 768px;
      height: 400px;
      margin-right: auto;
      margin-left: auto;
      background-image: linear-gradient(to right,
          var(--bg-gradient),
          var(--bg-gradient)),
        url(../images/images/tablet/hero-tablet.jpg);

         @media (min-resolution: 2dppx) {
           .overlay {
             background-image: url(../images/images/tablet/hero-tablet@2x.jpg);
             background-size: cover;
             background-position: center;
           }
        }
    }
  }


  @media screen and (min-width: 1200px) {
    .overlay {
          max-width: 1600px;
          height: 600px;
          margin-right: auto;
          margin-left: auto;
      background-image: linear-gradient(to right,
          var(--bg-gradient),
          var(--bg-gradient)),
        url(../images/images/desktop/hero-desktop.jpg);

        @media (min-resolution: 2dppx) {
          .overlay {
            background-image: url(../images/images/desktop/hero-desktop@2x.jpg);
            background-size: cover;
            background-position: center;
          }
        }
    }
  }

  .content-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 63px 24px;
      color: var(--primary-write-color);
      background-color: rgba(33, 150, 243, 0.9);

      transform: translateY(101%);
      transition: transform var(--duration) var(--timing-function);

        .content-link:hover &,
        .content-link:focus & {
            transform: translateY(0%);
        }
  }

  .overlay-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6;
  }


