:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --primary-write-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --subsecondary-bg-color: #f5f4fa;
    --logo-black-color: #000000;
    --icon-color: #afb1b8;
    --bg-gradient: rgba(47, 48, 58, 0.4);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}
